.glow-button {
 color: rgba(255, 0, 0, 1);
 box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.button {
 color: rgba(255, 255, 255, 0.8);
 background: rgb(145, 92, 182);
}

#reset {
	align-items: center;
  justify-content: center;
}

body {
  background-image: url('bgimage.jpg');
  background-repeat: no-repeat;
   height: 100%;
  background-position: center;
  background-size: cover;
}

table {
  margin: auto;
  text-align: center;
  width: 50%;
}

.top {
  vertical-align: top;
}

.middle {
  vertical-align: middle;
}

.bottom {
  vertical-align: bottom;
}

.tr {
  color:white;
}

.container {
  width: 90%;
  height: 140px;
  margin: auto;
  padding: 10px;
}

.one { 
	float:left;   
	width:41.5%; 
}

.three { 
  float:left;  
  width:17%;  
}

.two { 
  float:right;  
  width:41.5%;  
}

.center {
	margin: auto;
	text-align: center;
	width: 50%;
	padding: 75px;
	border: 3px solid green;
}

