.center 
{
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 75px;
  background-color: aqua;
  border: 3px solid green;
}
.list
{
  list-style-type:square;
  list-style-position: inside
}